---
import Image from "astro/components/Image.astro";
const images = import.meta.glob<{ default: ImageMetadata }>(
  "../../content/images/*.{jpg,jpeg,png,webp}",
);
---
<div class="columns-1 sm:columns-2 md:columns-3 lg:columns-4">
  {
      Object.entries(images).map(async ([_path, image], index) => {
        const { default: imageData } = await image();
        return (
          <a
            href={imageData.src}
            target="_blank"
          >
            <Image
              format="webp"
              class="mb-4"
              src={imageData}
              alt={`photo ${index + 1}`}
              loading={index < 20 ? "eager" : "lazy"}
            />
        </a>
        );
      })
    }
</div>