---
import Layout from '../layouts/Layout.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---


		<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
			<main>
				<h1>Welcome to {SITE_TITLE}</h1>
				<p>{SITE_DESCRIPTION}</p>
				<p>
					This is a sample Astro site. You can start building your own site by editing the files in the <code>src</code> directory.
				</p>
				<p>
					Visit the <a href="/blog">Blog</a> to read our latest posts or go to the <a href="/about">About</a> page to learn more about us.
				</p>
			</main>
		</Layout>
