---
import HeaderLink from './HeaderLink.astro';
---

<header class="my-4 flex items-center">
	<!-- <div>logo</div> -->
	<nav class="flex items-center gap-2 ">
		<HeaderLink href="/" title='Home'>Home</HeaderLink>
		<HeaderLink href="/blog" title='Blog'>Blog</HeaderLink>
		<HeaderLink href="/about" title='About'>About</HeaderLink>
	</nav>
</header>
